<ul class="tasklist-list" style="min-height: 2em">
  {{#each task in sortedTasks}}
    <li style="margin-bottom: 0.1em; background-color: rgba(0, 0, 0, 0.1)">
      {{ ta-sk
        task=task
        allTasks=allTasks
      }}
    </li>
  {{/each}}
</ul>